# Ignore node_modules directory
node_modules

# Ignore build artifacts
/dist

# Ignore development-specific files
/.env.local
/.env.*.local

# Ignore version control files
.git
.gitignore

# Ignore editor and IDE files
.idea
.vscode

# Ignore test and debugging files
/tests
/coverage

# Ignore logs and temporary files
/logs
/tmp
